**/node_modules/*
**/dist
**/tsconfig.app.tsbuildinfo
**/tsconfig.build.tsbuildinfo
**/tsconfig.node.tsbuildinfo

# Logs
**/logs/**
*.log
*.log.gz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
*.local

.idea
# .vscode
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore all env files
**/.env
**/.env.dev
**/.env.local
**/*.env.**